@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,500;9..40,700&family=League+Spartan:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#hero,
#header {
  /* Set the background image and specify its properties */
  background-image: url("https://res.cloudinary.com/dyl3rncv3/image/upload/v1679910469/elewa-group-website/hero-Images/pexels-bg-edit_bb4znx.jpg");
  background-size: cover; /* Scale the image to cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-attachment: fixed; /* Fixed background for parallax effect */
  background: ;
}
